{# Nó recursivo do organograma (árvore top-down). Uso: {% include '_organograma_no.html' with node=raiz %} #}
<li>
  <div class="org-node{% if node.raiz %} raiz{% endif %}">
    <div class="org-avatar">
      {% if node.vol.foto %}
        <img src="{{ node.vol.foto.url }}" alt="{{ node.vol.get_full_name }}">
      {% else %}
        <span>{{ node.vol.first_name|slice:":1"|upper }}{{ node.vol.last_name|slice:":1"|upper }}</span>
      {% endif %}
    </div>
    <div class="org-nome">{{ node.vol.apelido|default:node.vol.get_full_name|default:node.vol.username }}</div>
    <div class="org-area">{{ node.vol.get_area_display }}</div>
    {% if node.vol.cargo %}<div class="org-cargo">{{ node.vol.get_cargo_display }}</div>{% endif %}
  </div>
  {% if node.filhos %}
  <ul>
    {% for filho in node.filhos %}
      {% include '_organograma_no.html' with node=filho %}
    {% endfor %}
  </ul>
  {% endif %}
</li>
