# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
media/
staticfiles/
.env
*.log

# VSCode
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Migrations cache
**/migrations/__pycache__/

# Arquivos temporários
*.swp
*.bak
*.tmp
# Arquivos do Python 
db.sqlite3
__pycache__/
media/
venv/
package-lock.json
node_modules/
.env
semanario_form_errors.log